<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DataBase</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="main-heading" id="hw">
            <h1 class="welcome"> WELCOME </h1>
        </div>
        <div class="options">
            <a href="studentDetail.html" class="option-button" onclick="setUserAction('show')">Show Details</a>
            <a href="studentDetail.html" class="option-button" onclick="setUserAction('update')">Update Details</a>
            <a href="changeDB.html" class="option-button" onclick="setUserAction('add')">Add Student</a>
            <a href="studentDetail.html" class="option-button" onclick="setUserAction('delete')">Delete Student</a>
        </div>        
    </div>
    <script src="script.js"></script>
</body>
</html>